<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap">
<link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">

<link rel="stylesheet" href="login/login.css">

<script src="login/script.js/server_functions.js" defer></script>
<script src="login/script.js/button_functions.js" defer></script>
<script src="login/script.js/adaptive_background.js" defer></script>
<script src="login/script.js/font_size.js" defer></script>
</head>
<body>
    <!-- this is where the animation and underlying content stuff would go wheni ts done-->
    <div class="overlay"></div>
    <div class="grid-container" id="gridContainer"></div>

    <div id="popup" class="popup">
        <div class="popup-content">
            <p>PLEASE ENTER A NICKNAME AND/OR CODE!</p>
            <button id="submitButton">OKAY</button>
        </div>
    </div>
    
    <div class="login-container">
        <div class="logo">
            <img src="login/Screen_Shot_2023-08-22_at_6.17.50_PM-removebg-preview (1).png" alt="Logo">
        </div>

        <div class="login-box">
            <div class="input-group" id="name">        
                <input class="input" type="text" id="nickname" placeholder="Enter your nickname">
                <button class="gold-button" id="saveButton">SAVE</button>
            </div>

            <div class="input-group" id="code">    
                <input class="input" type="text" id="lobbyCode" placeholder="Lobby code">
                <button class="gold-button" id="joinLobbyButton">JOIN LOBBY</button>
            </div>

            <div class="input-group">
                <button class="gold-button" id="createLobbyButton">CREATE PRIVATE LOBBY</button>
            </div>
            
        </div>
    </div>
</body>
</html>