<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>VTBuilder</title>

<link rel="stylesheet" href="common/common.css">
<link rel="stylesheet" href="post/post_game_screen.css">

<script src="common/script.js/adaptive_elements.js" defer></script>
<script src="common/script.js/server_functions.js" defer></script>

<script src="post/script.js/server_functions.js" defer></script>
<script src="post/script.js/final_grid.js" defer></script>

</head>
<body class="page-loaded">

  <!-- This is the animation overlay. Disabled for now cuz i need to tweak it to look good and its not a priority
  <div class="logo-container">
    <img class="foreground-img" id="logo" src="images/gameLogo.png">
  </div>

  <div class="overlay2">
    
  </div>

  <div class="grid-container2" id="gridContainer2"></div>
  -->
  
     <div class="background-container" data-type="mode" >
        <div class="background-vignette" data-type="mode"></div>
        <div class="background-grid" data-type="mode"></div>
    </div>

    <div class ="row-container" id="interactions-container">
      
      <div class="toggle-container">
        <label class="toggle-text" for="darkModeToggle">Dark Mode:</label>
        <div class="toggle-switch" id="darkModeToggle">
            <div class="toggle-knob"></div>
        </div>
      </div>

      <button class = "button" id="leaveButton" onclick=endPostGame()>Return To Lobby</button>

      <div class="space-group" id="end"></div>
        <div class="logo">
            <img id="logo" src="images/darkgameLogo.png" alt="Logo">
        </div>
      <div class="space-group" id="middle"></div>

       <div class="column-container" id="largeColumnContainer">

        <div class="column" id="column-one">
          <div class="square" id="finalSquare">
            <img class = "finalImage image">
          </div>
        </div>
  
        <div class="column" id="column-two">
          <div class="square" id="assembled-square"></div>
        </div>
        
      </div>

    </div>

</body>
</html>