<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>VTBuilder</title>
<link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="post/post_game_screen.css">

<script src="common/script.js/adaptive_elements.js" defer></script>
<script src="post/script.js/foreground.js" defer></script>
<script src="post/script.js/final_grid.js" defer></script>
<script src="post/script.js/server_functions.js" defer></script>

  
</head>
<body class="page-loaded">

  <!--
  <div class="logo-container">
    <img class="foreground-img" id="logo" src="images/gameLogo.png">
  </div>

  <div class="overlay2">
    
  </div>

  <div class="grid-container2" id="gridContainer2"></div>
  -->
  
  <div class="underlying-content">

    <div class="grid-container" id="grid-container"></div>
    <div class="overlay"></div>

    <div class ="game-container">
      
      <div class="logo">
        <img src="images/gameLogo.png" alt="Logo">
      </div>
      
      <div class="container">

        <div class="column" id="column-one">

          <div class="original-square" id="original-square"></div>

        </div>
  
        <div class="column" id="column-two">
          <div class="assembled-square" id="assembledSquare"></div>
        </div>
  
      </div>

    </div>

  </div>
  
</body>
</html>