body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    height: 100vh; /* Make the container fill the screen height */
    width: 100vw;
    flex-direction: row;
  }
  
  .column {
    /*
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    */
    width: 50vw; /* Make the columns fill half of the screen width */
    height: 100vh; /* Make the columns fill the screen height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #column-one {
    background-color: lightblue;
  }
  
  #column-two {
    background-color: lightgreen;
  }
  